* {
  list-style: none;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 1s ease;
}

#quote-box {
  background-color: white;
  max-width: 450px;
  display: table;
  position: relative;
  border-radius: 3px;
  text-align: center;
  padding: 40px 50px;
}

.quote-text {
  font-weight: 500;
  width: 450px;
  height: auto;
  clear: both;
  font-size: 1.75em;
}

.quote-author {
  font-size: 1em;
  text-align: right;
  height: auto;
  clear: both;
  padding-top: 20px;
}

.quote-text,
i {
  margin: 0.4em;
  transition: color 1s ease;
}

.fa-quote-left {
  font-size: 1.2em;
  margin: 0em 0.4em;
}

i {
  font-style: italic;
}

#text,
#author {
  transition: color 1s ease;
}

button {
  height: 38px;
  padding: 8px 18px 6px 18px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 0.85em;
  margin-top: 30px;
  opacity: 1;
  float: right;
  transition: background 1s ease;
}

a {
  color: white;
  font-size: 1.2em;
  float: left;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 8px;
  border: none;
  border-radius: 3px;
  text-align: center;
  margin-top: 30px;
  height: 30px;
  width: 45px;
  transition: background 1s ease;
  cursor: pointer;
}

.footer{
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: white;
}